Curtis "Ovid" Poe <ovid@cpan.org> Ovid <curtis_ovid_poe@yahoo.com>
Curtis "Ovid" Poe <ovid@cpan.org> Ovid <curtis@weborama.com>
Curtis "Ovid" Poe <ovid@cpan.org> Ovid <ovid@cpan.org>
Doug Bell <madcityzen@gmail.com> Doug Bell <doug.bell@baml.com>
